body{
    background-color: #dbd8d8;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    scrollbar-color: #ededed;
    scrollbar-width: 100px;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    color: #0000005c;
}

header{
    background-color: #ffffffd9;
    color: black;
    padding: 10px;
    margin: 20px;
    margin-bottom: 25px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: #0000005c 0px 0px 10px;/*x, y, tamaño*/
    min-width: 359px;
    border-radius: 5px;
}

.home{
    display: flex;
    box-sizing: border-box;
}

.aside{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 2 1 25%; /*flex-grow, flwx-shrink, flex-basis*/
    font-size: 14px;
}

.aside > div{
    flex: 1 1 0%;
    background-color: #ffffffd9;
    height: 100%;
    margin: 20px;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: #0000005c 0px 0px 10px;
    border-radius: 5px;
}

.aside > div:last-child{
    flex: 1 1 0%;
    background-color: #ffffffd9;
    margin: 20px;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: #0000005c 0px 0px 10px;
    border-radius: 5px;
}

.main{
    flex: 2 1 65%;
    margin: 20px;
    padding: 25px;
    box-sizing: border-box;
    background-color: #ffffffd9;
    box-shadow: #0000005c 0px 0px 10px;
    font-size: 15px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    display: flex;
}

h2{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

nav{
    padding: 10px;
    background-color: #ffffffd9;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: #0000005c 0px 0px 10px;
    margin-bottom: 15px;
    min-width: 359px;
    box-sizing: border-box;
    border-radius: 5px;
}

a:hover{
    color:  #0000004f;
}
    
ul{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
}

.img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffffffd9;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: #0000004f 0px 0px 10px;
    min-width: 359px;
    border-radius: 5px;
}

.container-1{
    display: flex;
    flex-direction: row;
}

.container-2{
    flex-direction: row;
    display: flex;
}

.btn-modal{
    display: none;
}

.contenedor-modal{
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    position: fixed;
    background-color: #0000004f;
    z-index: 100;
    align-items: center;
    padding: 25px;
    top: 0; left: 0;

}

.content-modal{
    width: auto;
    padding: 20px;
    background-color: #ffffffd9;
    position: relative;
    border-radius: 4px;
}
#btn-modal{
    display: none;
}
 
#btn-modal:checked ~ .contenedor-modal{
    display: flex;
}

.btn-cerrar{
    display: flex;
    background-color: #5488a3;
    color: white;
    padding: 5px;
    width: auto;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 15px;
    border: none;
}

.form{
    display: flex;
    justify-content: center;
}

.btn-cerrar:hover{
    background-color: #3f6d8c;
}

.content-modal img{
    margin-bottom: 15px;
    border: 1px solid #0000004f;
}

footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #ffffff00;
    text-align: center;
    font-size: 15px;
    min-width: 348px;
    visibility: hidden;
}

@media (max-width: 760px){
    .img{
        flex-direction: column;
    }
    .container-2{
        margin-top: 0px
    }
}

@media (max-width: 700px){
    .aside{
        font-size: 11px;
    }
}

@media (max-width: 950px){
    .aside{
        font-size: 12px;
    }
}

@media (max-width:550px){
    .home{
        flex-direction: column;
        min-width: 400px;
    }
}

@media (max-width:450px){
    .main{
        font-size: 14px;
    }
}

@media (min-width:100px){
    a{
    text-decoration: none;
    color: black;
    margin-left: 2%;
    margin-right: 2%;
    }
}

@media (min-width:450px){
    a{
    text-decoration: none;
    color: black;
    margin-left: 3.5%;
    margin-right: 3.5%;

    }
}

@media (min-width:532px){
    a{
    text-decoration: none;
    color: black;
    margin-left: 5%;
    margin-right: 5%;
    }
}

@media (min-width:600px){
    a{
    text-decoration: none;
    color: black;
    margin-left: 5.5%;
    margin-right: 5.5%;
    } 
}

@media (min-width:700px){
    a{
    text-decoration: none;
    color: black;
    margin-left: 6.5%;
    margin-right:6.5%;
    } 
}

@media (min-width:900px){
    a{
    text-decoration: none;
    color: black;
    margin-left: 8%;
    margin-right: 8%;
    } 
}
@media (max-width:750px){
    .main .img{
        width: 200px;
    }
}
